@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(200, 247, 223);
}

header {
    height: 200px;
    background-color: rgb(1, 83, 1);
}

main {
    max-width: 800px;
    background-color: white;
}